*{font-family: sans-serif;
}
body{padding-bottom: 800px;}
    #sortable-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}


.card {
    width: 200px; /* Ancho del 40% del ancho de la ventana */
    height: 100px;
    background-color: #fff696;
    border: 1px solid #ccc;
    text-align: center;
    line-height: 100px;
    cursor: move;
    font-size: 1vw; /* Tamaño de fuente 1.5 veces mayor */
    color: rgb(19, 19, 19); /* Color del texto en azul */
    font-family: sans-serif;
}

@media (max-width: 768px) { /* Cambios para dispositivos con ancho máximo de 768px (tabletas y móviles en horizontal) */
    .card {
        width: 30vw; /* Ancho del 80% del ancho de la ventana */
        font-size: 3vw;
        font-family: sans-serif;
        overflow: hidden;
    }
}
