*{font-family: sans-serif;}
    #sortable-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

#save-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 15px 30px;
    font-size: 18px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1000;
}
.card {
    width: 40vw; /* Ancho del 40% del ancho de la ventana */
    height: 100px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    text-align: center;
    line-height: 100px;
    cursor: move;
    font-size: 1.5em; /* Tamaño de fuente 1.5 veces mayor */
    color: blue; /* Color del texto en azul */
    font-family: sans-serif;
}

@media (max-width: 768px) { /* Cambios para dispositivos con ancho máximo de 768px (tabletas y móviles en horizontal) */
    .card {
        width: 50vw; /* Ancho del 80% del ancho de la ventana */
        font-size: 5vw;
        font-family: sans-serif;
    }
}
